h1{
    text-align: center;
    margin-top: 40px;
}
.count{
    font-size: 48px;
    text-align: center;
    margin-top: 20px solid;
}
.btn{
    display:flex;
    text-align: center;
    gap: 10px;
    justify-content:center;
.reset{
    background-color: grey;
}
.add{
    background-color: lightskyblue;
}
.minus{
    background-color: lightskyblue;
}

}
button{
        padding: 20px;
        background-color: red;
        color: 000;
        border-radius: 6px;
        cursor: pointer;
}

}
